Flask==3.0.2
Flask-SocketIO==5.4.1
Flask-Cors==5.0.0
numpy==1.26.4
opencv-python==4.10.0.84
cvzone==1.6.1
Pillow==10.2.0
tensorflow==2.15.0
gTTS==2.5.3
pygame==2.6.1
openai==1.54.3
python-dotenv==1.0.1
gevent==24.10.3
gevent-websocket==0.10.1
eventlet==0.36.1
